<ion-view title="Karte">
  <ion-content class="has-header padding" style="position:relative; height:500px">
    <div class="item padding" style="text-align: center">
      <img src="img/markers/birke.gif"> Birke
      <img src="img/markers/erle.gif"> Erle
      <img src="img/markers/esche.gif"> Esche
      <img src="img/markers/hasel.gif"> Hasel
    </div>
    <div class="item" style="height: 100%">
      <div id="map" style="width: 100%; height: 100%"></div>
    </div>
  </ion-content>
</ion-view>
