<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Map Tab -->
  <ion-tab title="Karte" icon="icon ion-map" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>


  <!-- Prognosis Tab -->
  <ion-tab title="Prognose" icon="icon ion-ios7-partlysunny" href="#/tab/prognosis">
    <ion-nav-view name="tab-prognosis"></ion-nav-view>
  </ion-tab>


  <!-- Settings Tab -->
  <ion-tab title="Einstellungen" icon="icon ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>


</ion-tabs>
